@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&family=PT+Serif:wght@400;700&family=Ubuntu&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    overflow: hidden;
}


section{
    width: 100%;
    padding: 90px 30px;
    /* background: hsla(240, 3%, 8%, 1);
    background: linear-gradient(90deg, hsla(240, 3%, 8%, 1) 0%, hsla(209, 57%, 25%, 1) 66%, hsla(209, 62%, 43%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(240, 3%, 8%, 1) 0%, hsla(209, 57%, 25%, 1) 66%, hsla(209, 62%, 43%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(240, 3%, 8%, 1) 0%, hsla(209, 57%, 25%, 1) 66%, hsla(209, 62%, 43%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#131314", endColorstr="#1C4265", GradientType=1 ); */
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 650px;
    margin: 0 auto;
    padding: 20px;
    background: hsla(240, 3%, 8%, 1);
    background: linear-gradient(90deg, hsla(240, 3%, 8%, 1) 0%, hsla(209, 57%, 25%, 1) 66%, hsla(209, 62%, 43%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(240, 3%, 8%, 1) 0%, hsla(209, 57%, 25%, 1) 66%, hsla(209, 62%, 43%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(240, 3%, 8%, 1) 0%, hsla(209, 57%, 25%, 1) 66%, hsla(209, 62%, 43%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#131314", endColorstr="#1C4265", GradientType=1 );
    
}

.form{
    width: 500px;
    /* padding: 40px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #F0F8FF;
}

h2{
    font-size: 32px;
    font-weight: 750;
    color: #F0F8FF;
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 3px;
}

label{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.form input, textarea{
    all: unset;
    width: 100%;
    /* height: 30px; */
    padding: 10px;
    border-bottom: 1px solid #F2F3F4;
    font-size: 18px;
    /* font-weight: 500; */
    letter-spacing: 1.5px;
}

::placeholder{
    color: #a2a2a2;
}
