@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&family=PT+Serif:wght@400;700&family=Ubuntu&display=swap');
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    min-height: 100vh;
    background: url(./assest/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: relative;
    top:0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFAF0;
    z-index: 1000;
    margin: 0 60px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 23px;
    font-weight: 400;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 24px;
    padding: 20px;
    color: #FFFAF0;
    text-decoration: none;
    display: block;
}

header .navbar ul li a img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

header .navbar ul li a:hover{
    color: #2C74B3;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #2c2b2b;
    display: none;
}

header .navbar ul li:hover > ul{
    display: initial;
}

.search{
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px;

}

.search input{
    all: unset;
    padding: 10px;
    border-radius: 11px;
    background-color: #2e2d2d;
}

.search input::placeholder{
    color: #848482;
}

.search img{
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.main .box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 8%;
}

.content{
    color: #FFFAF0;
    text-align: center;
    font-size: 7rem;
    font-weight: 500;
}

.content .cont{
    font-size: 1.4rem;
    font-weight: 300;
}
/*.main{
    padding: 0;
    height: 100vh;
    position: relative;
}

.main .box{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 10rem 8%;
}

.content{
    color: #FFFAF0;
    text-align: center;
    font-size: 6rem;
    font-weight: 500;
}

.content .cont{
    font-size: 1.6rem;
    font-weight: 300;
}

.footer{
    display: flex;
    flex-direction: row;
    height: 100px;
    background-color: #000000;
} */

